/* NAVBAR */
#bold-brand {
    font-family: Lato;
    font-weight: 800;
    color: #102137;
    letter-spacing: 5px;
    margin-left: 2%;
}


.padding-nav {
    margin-bottom: 50px;
    padding-bottom: 25px;
    background-color: white;
    
}
.nav-link {
    font-family: Lato;
    font-weight: 400;
    color: #102137;
    margin-right: 10px;

}

.navlink-kick{
    font-family: Lato;
    font-weight: 600;
    color: #102137;
}

.override-color {
    background-color: #102137 !important;
    font-weight: 500;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    margin-top: 5px!important;;

}

.section-layout{
    padding-bottom: 100px;
}


/* Hero Image Start index.html*/

.heroBizned {
    padding-top: 25vh;
    padding-bottom: 100px;
    background: linear-gradient(rgba(17, 11, 49, 0.5), rgba(8, 0, 22, 0.9)), url("/workspace/BIZNED/assets/images/Zuidas Night.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.heroContents {
	text-align: left;
    color: white;
    margin-left: 10% !important;
}
.heroContents h1 {
	font-family: Lato;
    font-weight: 900;
    color: white;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.heroContents p {
	font-family: Roboto;
    font-weight: 600;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}
.tripIdeas {
  background-color: rgb(255, 255, 255);
  border: none;
  color:#102137;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}
.btn-about{
    background-color: #102137!important;
    color: white!important;
    font-family: Roboto!important;
    font-size: 18px!important;
    font-weight: 400!important;
    border-color: white!important;

}
.btn-explore{
    background-color: white!important;
    color: #102137!important;
    font-family: Roboto!important;
    font-size: 18px!important;
    font-weight: 400!important;
    border-color: #102137!important;

}
btn-explore

/* Find your business facilities section.html*/

.img-limited {
    height: 250px;
    length: 200px;
    margin-right: 5%;
    margin-top: 20px;
}

.heroBizned-2 {
    padding-top: 15vh;
    padding-bottom: 100px;
    background: linear-gradient(rgba(17, 11, 49, 0.5), rgba(8, 0, 22, 0.9)), url("/workspace/BIZNED/assets/images/business-cta.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.special-p {
    font-family: Lato;
    font-weight: 600;
}


/* City-cards*/
#card-spacer {
    margin-bottom:100px;
}



/* Maps */

#map {
  height: 400px;
  width: 60%;

}
/* Contact form*/
.contact-title{
    margin-top: 50px;
    margin-right: 11%;
}
.margin-button-submit {
    margin-bottom: 100px;
}

/* Footer */

.footer-ned {
    background-color: #102137;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right:15px;
}

.icon-ned {
    margin-right: 15px;
    margin-left: 5px;
}
.fa-linkedin-in {
    color:white;
}
.fa-instagram {
    color: white;
}